.banner {
    position: relative;
    width: auto;
}

.mask_img {
    width: 45vw;
    height: 45vw;
    max-width: 300px;
    max-height: 300px;
    transition: 2s ease-in-out;
    overflow: hidden;

    &.radius_RB {
        border-radius: 7rem 7rem 0.5rem 7rem;

        &::before {
            border-radius: 7rem 7rem 0.5rem 7rem;
        }

        @include media-breakpoint-down(md) {
            border-radius: 3rem 3rem 0.5rem 3rem ;
            &::before {
                border-radius: 3rem 3rem 0.5rem 3rem;
            }
          }
    }

    &.radius_LB {
        border-radius: 7rem 7rem 7rem 0.5rem;

        &::before {
            border-radius: 7rem 7rem 7rem 0.5rem;
        }

        @include media-breakpoint-down(md) {
            border-radius: 3rem 3rem 3rem 0.5rem;
            &::before {
                border-radius: 3rem 3rem 3rem 0.5rem;
            }
          }
    }

    &.radius_LB,
    &.radius_RB {
        &::before {
            content: '';
            width: 45vw;
            height: 45vw;
            max-width: 300px;
            max-height: 300px;
            background-color: #22222A;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.3s;
            opacity: .5;
            transition: 2s ease-in-out;
        }

    }

    &.radius_title {
        border-radius: 0.5rem 7rem 7rem 7rem;
    }

    &:hover {
        &::before {
            opacity: 0;
        }
    }

    &.work01 {
        background-size: contain;
        background-image: url("~@/assets/image/titleImg/work01_title.png");
    }

    &.work02 {
        background-image: url("~@/assets/image/titleImg/work02_title.png");
    }

    &.redesign01 {
        background-size: contain;
        background-image: url("~@/assets/image/titleImg/redesign_title.png");
    }

    &.word01_card01 {
        background-size: contain;
        background-image: url("~@/assets/image/work01/card-01.png");
    }

    &.word01_card02 {
        background-size: contain;
        background-image: url("~@/assets/image/work01/card-02.png");
    }

    &.word01_card03 {
        background-size: contain;
        background-image: url("~@/assets/image/work01/card-03.png");
    }

    &.word01_card04 {
        background-size: contain;
        background-image: url("~@/assets/image/work01/card-04.png");
    }

    &.word02_card01 {
        background-size: contain;
        background-image: url("~@/assets/image/work02/card-01.png");
    }

    &.word02_card02 {
        background-size: contain;
        background-image: url("~@/assets/image/work02/card-02.png");
    }


}