@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin position(
  $position: absolute,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin content {
  $content: "";
  $width: 100%;
  $height: 100%;
  $position: absolute;
}
